ion-toolbar{
    --color: #2f3e46;
    .btnaddout{
        --color: #2f3e46;
    }
}
ion-list{
    .txttittle{
     --color: #2f3e46;
   
    }
    .txttittlee{
        background-color: #f6de90;
     }
}