ion-toolbar{
    color: #2f3e46;
    background-color: #cad2c5;

}
.iconmenu{
    color: #2f3e46;
    
}
.fondmenu{
    color: #2f3e46;
   
}
.footer{
    text-align: center;
    color: #2f3e46;
    --background: #cad2c5;
}
.tersesion{
    color: #2f3e46;
}
