<ion-list >
  <ion-item>
    <ion-icon class="iperf" name="person-circle-outline"></ion-icon>
    <ion-label class="perf" (click)="perf()">
      Perfil
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-icon class="iperf" name="information-circle-outline"></ion-icon>
    <ion-label class="perf" (click)="Info()">
      Informacion
    </ion-label>
  </ion-item>
  <ion-item class="iperfil">
    <ion-icon class="iperf" name="help-circle-outline"></ion-icon>
    <ion-label class="perf" (click)="Ayuda()">
      Ayuda
    </ion-label>
  </ion-item>
  <ion-item class="iperfil">
    <ion-icon class="iperf" name="log-out-outline"></ion-icon>
    <ion-label class="perf" (click)="Tersesion()">
      Cerrar Sesión
    </ion-label>
  </ion-item>
</ion-list>