.btigual{
    --background: #52796f;
}
.btarit{
    --background: #2f3e46;
}
.btclean{
    --background: #52796f;
}
.btcalcu{
    --background: #52796f;
    --background-activated: #52796f;
}

.btnmenu {
    color: #2f3e46;
}

ion-toolbar {
    --background-color: #cad2c5;
    --color: #2f3e46;
}

.fond {
    --background: #cad2c5;
    --color: #2f3e46;
}

ion-title {
    --color: #2f3e46;
}

ion-content {
    .icard {
        --color: #2f3e46;
    }

    .cardb {
        --background: #2f3e46;
    }
}

ion-footer{
    --color: #2f3e46;
    text-align: center;
}
ion-badge{
    --background: #cad2c5;
    --color: #2f3e46;
}